#logo-netflix img,
#logo-netflix-profile img{
    width: 100%;
}
#logo-netflix,
#logo-netflix-profile{
    width: 15%;
}
.icon-kids{
    width: 15%;
}
.div-kids-icon{
    width: 30%; 
    display: flex;
    align-items: center;
    justify-content: end;
}

.media-icon{
    word-spacing: 0.8em;
    font-size: 1.8em;
}
#footer-container{
    width: 72%;
    margin-top: 8em;
}
#navbarSupportedContent{
    justify-content: space-between;
}
main img{
    transform: 0.4s ease-out;
}
main img:hover{
    transform:scale(1.4);
}

/*profile page*/

#btn-maturity{
    width: 45%;
}
#btn-edit{
    width: 25%;
}
#checkbox{
    background-color: transparent;
    width:2em;
    height: 2em;
    border-color:gray;
}
