#logo-netflix img{
    width: 100%
}
#logo-netflix{
    width: 20%;
}
.icon-kids,
.avatar-icon
{
    width: 20%;
}
.div-kids-icon{
    width: 20%; 
}
.media-icon{
    word-spacing: 10px;;
}
#footer-container{
    width: 72%;
    margin-top: 8em;
}
